<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vantage - Estude de graça</title>

    <link th:href="@{/edu/assets/css/theme.css}" href="" rel="stylesheet" />
</head>
<body>


<script th:src="@{/edu/vendors/popperjs/popper.min.js}" src=""></script>
<script th:src="@{/edu/vendors/bootstrap/bootstrap.min.js}" src=""></script>
<script th:src="@{/edu/vendors/is/is.min.js}" src=""></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script th:src="@{/edu/vendors/fontawesome/all.min.js}" src=""></script>
<script th:src="@{/edu/assets/js/theme.js}" src=""></script>

<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&amp;family=Rubik:wght@300;400;500;600;700;800&amp;display=swap" rel="stylesheet">
</body>
</html>