<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vantage - Estude de graça</title>

    <link th:href="@{/edu/assets/css/theme.css}" href="" rel="stylesheet" />
</head>
<body>
<main class="main" id="top">
    <section class="bg-secondary py-2 d-none d-sm-block">

        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-auto d-none d-lg-block">
                    <p class="my-2 text-white"><span>Faça parte da maior comunidade de formação gratuita do Brasil.</span></p>
                </div>
            </div>
        </div>
    </section>


    <nav class="navbar navbar-expand-lg navbar-light sticky-top py-3 d-block" data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container"><a class="navbar-brand" href="/"><span class="fw-semi-bold">Vantage</span></a>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"> </span></button>
            <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto pt-2 pt-lg-0 font-base">
                    <li class="nav-item px-2"><a class="nav-link active" aria-current="page" href="/#">Início</a></li>
                    <li class="nav-item px-2"><a class="nav-link" aria-current="page" href="/#precos">Preços</a></li>
                    <li class="nav-item px-2"><a class="nav-link" aria-current="page" href="/cursos">Cursos</a></li>
                </ul><a class="btn btn-primary order-1 order-lg-0 text-white" href="/login">Entrar</a>
                <form class="d-flex my-3 d-block d-lg-none">
                    <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar" />
                    <button class="btn btn-outline-primary" type="submit">Pesquisar</button>
                </form>
                <div class="dropdown d-none d-lg-block">
                    <button class="btn btn-outline-light ms-2" id="dropdownMenuButton1" type="submit" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-search text-800"></i></button>
                    <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="dropdownMenuButton1" style="top:55px">
                        <form>
                            <input class="form-control" type="search" placeholder="Pesquisar" aria-label="Pesquisar" />
                        </form>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <section class="pb-11 pt-7 bg-600">

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h6 class="font-sans-serif text-primary fw-bold">Detalhes de:</h6>
                    <h1 class="mb-6" th:text="${curso.nome}"></h1>
                </div>
            </div>
        </div>
        <!-- end of .container-->

    </section>

    <section style="margin-top:-21.5rem">

        <div class="container">
            <div class="row">
                <div class="col-md-8"><img class="w-100" th:src="@{'/uploads/' + ${curso.banner}}" alt="..." />
                    <h1 class="my-4">Descrição</h1>
                    <p th:text="${curso.deacricao}"></p>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Estudantes </strong>: <span th:text="${curso.users.size()}"></span></li>
                            <li class="list-group-item text-center">
                                <form class="p-4" method="post">
                                    <a class="btn btn-primary">Começar</a>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of .container-->

    </section>
</main>

<script th:src="@{/edu/vendors/popperjs/popper.min.js}" src=""></script>
<script th:src="@{/edu/vendors/bootstrap/bootstrap.min.js}" src=""></script>
<script th:src="@{/edu/vendors/is/is.min.js}" src=""></script>
<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>
<script th:src="@{/edu/vendors/fontawesome/all.min.js}" src=""></script>
<script th:src="@{/edu/assets/js/theme.js}" src=""></script>

<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&amp;family=Rubik:wght@300;400;500;600;700;800&amp;display=swap" rel="stylesheet">
</body>
</html>